@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);
@import url('http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,900&subset=latin,latin-ext');

.red{color:red}
.green{color:green}

html,body{
  font:normal 15px 'Open Sans', sans-serif;  
  font-weight:300;
}
body{
  background-color:#efefef;
}

.remark-container{
  background-color:#f3f3f3;
}

.remark-slide-scaler{
  box-shadow:none !important;
}

h1{
  background-color:#8ddc62; 
  color: white;
  padding: 20px 30px;
  border-bottom: 4px solid #efefef;  
  background-image: url("../img/bg1.png");
  background-color: rgb(141, 220, 98);
  background-position: 50% 270px;
  font-weight: 300;
}

h4{
  margin:40px 0 0;
}
.remark-slide-content{
  padding-top:90px !important;
}
.remark-slide-content h1{
  margin-top:0 !important;
  position: fixed;
  top: 0;
  left:0;
  display:block;
  width: 100%;  
}
.remark-slide-content.center h1{
  padding: 40px;
  position: initial;
  border-top: 4px solid #efefef;
} 
.remark-slide-content h2{
  font-size: 25px;
}
.remark-slide-content ul, .remark-slide-content ol{
  padding:0 55px;
}
.remark-slide-content h4, .remark-slide-content h2{
  padding:10px 33px;
  background-color: #8ddc62;
  color: #fff;
}

.remark-slide-content li{
  padding: 8px 0px;
}

.remark-slide-content pre{
  padding:0 55px;
}  
.remark-slide-content{
  padding:0;
  font-size:30px;
}

.remark-slide-scaler{
  overflow:auto;
  top: 0px !important;
  left: 0px !important;
}
.remark-slide-number{
  font-size:18px;
}

.myPhoto img{
  position: absolute;
  left:auto;
  right: 20px;
  top: 150px;
  width:220px;
  border:2px solid #ccc;
  padding:2px;
}
.bilogWeb {
  display:block;
  text-align: center;
}
.bilogWeb img{
  width:80%;
  margin: 0 auto;
}
